<!DOCTYPe>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>M站内容专题——2</title>
    <link href="http://sh1.hoopchina.com.cn/fis_static/shihuomobile/static/common/pkg/common_3562734.css" rel="stylesheet">
    <link href="../css/m_header.css" rel="stylesheet"/>
    <link href="../css/m_section2.css" rel="stylesheet">
</head>
<body>
<div class="pagecontent">
    <header>
        <a href="###"><img src="../images/M-2_02.jpg"></a>
    </header>
    <section>
        <div class="banner">
            <img src="../images/710X230.jpg" />
        </div>
        <article>
            <p>毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
            </p>
        </article>
        <ul>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <div class="banner">
            <img src="../images/710X230.jpg" />
        </div>
        <article>
            <p>毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
            </p>
        </article>
        <ul>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="img">
                        <img class="lazy" width="100%" data-original="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                    </div>
                    <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                    <span class="price">¥1,299</span>
                </a>
            </li>
        </ul>
    </section>
</div>
<script type="text/javascript" src="../js/zepto.min.js"></script>
<script type="text/javascript" src="../js/imglazy.js"></script>
<script type="text/javascript">
    $(function(){
        $(".lazy").lazyload();
    });
</script>
</body>
</html>