<!DOCTYPe>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
        <title>M站内容专题——1</title>
        <link href="http://sh1.hoopchina.com.cn/fis_static/shihuomobile/static/common/pkg/common_3562734.css" rel="stylesheet">
        <link href="../css/m_header.css" rel="stylesheet"/>
        <link href="../css/m_section1.css" rel="stylesheet">
    </head>
    <body>
        <div class="pagecontent">
            <header>
                <a href="###"><img src="../images/M-2_02.jpg"></a>
            </header>
            <section>
                <div class="banner">
                    <img src="../images/M-2_05.jpg" />
                </div>
                <article>
                    <h3>迷彩字母印花短袖TEE</h3>
                    <p>毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，所以今天我们要来讲讲不同材质毛衣的特性。
                        原大程度上决定所以今天我们要来讲讲不同材质毛衣的特性。
                        汀克·哈特菲尔德设计的 Air Max Zero搭载全新配色和轻盈缓震系统华丽回归，塑就现代风范和出众舒适体验。
                    </p>
                </article>
                <ul>
                    <li>
                        <a href="###">
                            <div class="img">
                                <img width="100%" src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                            </div>
                            <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                            <span class="price">¥1,299</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <div class="img">
                                <img width="100%" src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                            </div>
                            <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                            <span class="price">¥1,299</span>
                        </a>
                    </li>
                    <li>
                        <a href="###">
                            <div class="img">
                                <img width="100%" src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1214/40d755a75cc8efd5123acf1713c4def1.jpg" />
                            </div>
                            <p class="dec">Nike Flyknit Lunar Epic 男子跑鞋</p>
                            <span class="price">¥1,299</span>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </body>
</html>