<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="../css/common-v1.css" rel="stylesheet">
        <link href="../css/header.css" rel="stylesheet">
        <link href="../css/section1.css" rel="stylesheet">
        <link href="../css/nav1.css" rel="stylesheet">
        <title>内容专题——1</title>
    </head>
    <body style="background-color: #c6c6c6;">
        <!--  图片代替头部导航 start-->
        <div style="width: 100%;background-color:#B30810;margin: 0 auto;text-align: center;">
            <img  src="../images/nav.jpg" >
        </div>
        <!-- 图片代替头部导航 end-->

        <div class="page-content" style="width: 1080px;margin:0 auto;position: relative;">
            <div class="header">
                <div class="J_ui_picSwitch">
                    <ul class="J_ui_post J_ui_postFloat">
                        <li>
                            <a href="###">
                                <img src="../images/banner.jpg">
                            </a>
                        </li>
                    </ul>
                    <ul class="J_ui_a">
                    </ul>
                    <div class="J_ui_butPost_a">
                        <div class="tuio"></div>
                    </div>
                    <div class="J_ui_butPost_b">
                        <div class="tuio"></div>
                    </div>
                </div>
            </div>
            <div class="group section1">
                <ul>
                    <li class="twoXone">
                        <img src="../images/528X260_1.jpg">
                    </li>
                    <li>
                        <img src="../images/260X260_1.jpg">
                    </li>
                    <li>
                        <img src="../images/260X260_2.jpg">
                    </li>
                    <li class="twoXone">
                        <h3 class="protitle">flyknit完美配色找到合适鞋款</h3>
                        <p class="prodec">
                            毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                            原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                        </p>
                        <div class="probottom">
                            <b>¥1,299</b>
                            <a href="###" class="buylink"><i></i>去购买</a>
                        </div>
                    </li>
                    <li class="twoXone">
                        <img src="../images/528X260_2.jpg">
                    </li>
                </ul>
                <ul>
                    <li class="twoXtwo">
                        <img src="../images/528X528.jpg">
                    </li>
                    <li>
                        <img src="../images/260X260_1.jpg">
                    </li>
                    <li>
                        <img src="../images/260X260_2.jpg">
                    </li>
                    <li class="twoXone">
                        <h3 class="protitle">flyknit完美配色找到合适鞋款</h3>
                        <p class="prodec">
                            毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                            原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                        </p>
                        <div class="probottom">
                            <b>¥1,299</b>
                            <a href="###" class="buylink"><i></i>去购买</a>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li class="twoXone">
                        <img src="../images/528X260_1.jpg">
                    </li>
                    <li class="oneXtwo">
                        <img src="../images/260X528.jpg">
                    </li>
                    <li class="oneXtwo">
                        <h3 class="protitle">flyknit完美配色找到合适鞋款</h3>
                        <p class="prodec">
                            毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                            原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                        </p>
                        <div class="probottom">
                            <b>¥1,299</b>
                            <a href="###" class="buylink"><i></i>去购买</a>
                        </div>
                    </li>
                    <li>
                        <img src="../images/260X260_2.jpg">
                    </li>
                    <li>
                        <img src="../images/260X260_1.jpg">
                    </li>
                </ul>
            </div>
            <div class="right-nav nav1 slideInUp">
                <ul>
                    <li class="on">完美配色</li>
                    <li>完美配色</li>
                    <li>完美配色</li>
                </ul>
                <div class="backtoTop">
                    返回顶部
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="../js/jquery.masonry.min.js"></script>
        <script type="text/javascript" src="../js/theme.js"></script>
    </body>
</html>