<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <link href="../css/common-v1.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/section3.css" rel="stylesheet">
    <link href="../css/nav1.css" rel="stylesheet">
    <title>商品文字专题——1</title>
</head>
<body style="background-color: #c6c6c6;">
<!--  图片代替头部导航 start-->
<div style="width: 100%;background-color:#B30810;margin: 0 auto;text-align: center;">
    <img  src="../images/nav.jpg" >
</div>
<!-- 图片代替头部导航 end-->

<div class="page-content" style="width: 1080px;margin:0 auto;position: relative;">
    <div class="header">
        <div class="J_ui_picSwitch">
            <ul class="J_ui_post J_ui_postFloat">
                <li>
                    <a href="###">
                        <img src="../images/banner.jpg">
                    </a>
                </li>
            </ul>
            <ul class="J_ui_a">
            </ul>
            <div class="J_ui_butPost_a">
                <div class="tuio"></div>
            </div>
            <div class="J_ui_butPost_b">
                <div class="tuio"></div>
            </div>
        </div>
    </div>
    <div class="group section3">
        <ul>
            <li class="text">
                <div class="banner">
                    <img src="../images/269X332.jpg" />
                </div>
                <div class="info">
                    <h3>flyknit完美配色</h3>
                    <p>
                        毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                    </p>
                </div>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li class="text">
                <div class="banner">
                    <img src="../images/269X332.jpg" />
                </div>
                <div class="info">
                    <h3>flyknit完美配色</h3>
                    <p>
                        毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                    </p>
                </div>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="###">
                    <div class="proimg">
                        <img src="http://shihuo.hupucdn.com/uploads/trade/haitao/cover/201604/1912/828a97dd27147204e4839a7ada72c2b6.jpg?imageView2/1/w/220/h/220" />
                    </div>
                    <p class="protitle">Nike Flyknit LunarEpic 男子跑鞋</p>
                    <div class="probottom">
                        <b>¥1,299</b>
                        <div class="buylink"><i></i>去购买</div>
                    </div>
                </a>
            </li>
            <li class="text">
                <div class="banner">
                    <img src="../images/269X332.jpg" />
                </div>
                <div class="info">
                    <h3>flyknit完美配色</h3>
                    <p>
                        毛衣的材质有许多种，从最常见的棉，到各种工业纶，再到羊毛等天然面料，原大程度上决定了这款毛衣是否舒服保暖，所以今天我们要来讲讲不同材质毛衣的特性。
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="right-nav nav1 slideInUp">
        <ul>
            <li class="on">完美配色</li>
            <li>完美配色</li>
            <li>完美配色</li>
        </ul>
        <div class="backtoTop">
            返回顶部
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="../js/theme.js"></script>
</body>
</html>